*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.side-bar{
  height: 100vh;
  background:#13005A;
  color: #fff;

}
.top-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;

}
.logo>h3{
  margin: 0;
  line-height: 0;
  font-size: 18px;

}
a{
  text-decoration: none;
}
.nav-link{
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 15px;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-icon{
  padding-right: 15px;
}
.nav-link:hover{
  border-right: 4px solid #fff;
  background: #00337C;
}
.main-container{
  display: flex;
}